[submodule "llvm/lib/Transforms/SPP/CustomOptimisation"]
	path = llvm/lib/Transforms/SPP/CustomOptimisation
	url = https://github.com/alexandrinapanfil/MIRROR_LLVMOptmisationForTaggedPtrs.gitt
	branch = spp_selfcontained
