[submodule "llvm/lib/Transforms/SPP/CustomOptimisation"]
	path = llvm/lib/Transforms/SPP/CustomOptimisation
	url = https://github.com/dimstav23/MIRROR_LLVMOptmisationForTaggedPtrs.git
	branch = spp_selfcontained
